<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue sur mon site de livres{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <!-- Logo principal -->
            <div class="logo">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo_miel_de_mots.png') }}" alt="Logo">
                </a>
            </div>

            <!-- Nom du site -->
            <div class="web_name">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/web_name.png') }}" alt="Nom du site">
                </a>
            </div>

            <!-- Icônes dans le header -->
            <div class="header-icons">
                <!-- Icône utilisateur -->
                <span class="icon" id="user-icon">
                    <a href="{{ url_for('login_bp.login') }}">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </span>

                <!-- Icône des favoris -->
                <span class="icon" id="favorite-icon">
                    <a href="#">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                </span>

                <!-- Icône du panier avec le nombre d'articles -->
                <span class="icon" id="cart-icon">
                    <a href="{{ url_for('cart_bp.view_cart') }}">
                        <i class="fa-solid fa-cart-shopping"></i>
                        {% if cart_count > 0 %}
                            <span class="cart-count">{{ cart_count }}</span>
                        {% endif %}
                    </a>
                </span>
            </div>
        </div>
    </header>
    
    <!-- Section principale -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>

    <!-- Pied de page -->
    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a href="{{ url_for('home') }}">
                    <img class="logo_footer" src="{{ url_for('static', filename='images/logo_miel_de_mots.png') }}" alt="Logo">
                </a>
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="#">Mentions Légales</a></li>
                    <li><a href="#">Politique de Confidentialité</a></li>
                    <li><a href="#">Politique des Cookies</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 Miel des Mots. Tous droits réservés.</p>
        </div>
    </footer>
</body>
</html>
